@charset "UTF-8";
/* CSS Document */
.my-repeat-animation.ng-enter, 
.my-repeat-animation.ng-leave {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
}

.my-repeat-animation.ng-enter-stagger {
  /* 100ms will be applied between each sucessive enter operation */ 
  -webkit-transition-delay:0.1s;
  transition-delay:0.1s;

  /* this is here to avoid accidental CSS inheritance */
  -webkit-transition-duration:0;
  transition-duration:0;
}

.my-repeat-animation.ng-enter {
  opacity:0;
}
.my-repeat-animation.ng-enter.ng-enter-active {
  opacity:1;
}

.my-repeat-animation.ng-leave {
  opacity:1;
}
.my-repeat-animation.ng-leave.ng-leave-active {
  opacity:0;
}
